@charset "ISO-8859-1";
.main{
	height: 400px;

		}
		
		
.left{
	width: 20%;
	background-color: pink;
	float: left;
	height: 400px;
	overflow-y: scroll;
		}
		
		
.link{
	width: 100%;
	height: 50px;
	background-color: grey;
	border: 2px solid;
	text-align: center;
		}
		
		
.right{
	width: 20%;
	background-color: pink;
	float: right;
	height: 400px;
	overflow: hidden;
		}
		
		
img{
	width: 100%;
	height: 50%;

	}
		
		
.mid{
	width: 55%;
	height: 400px;
	float: left;
	}
		
		
h1 {
	text-align: center;
	color: red;	
    }
    
    
 .footer{
		height: 100px;
		background-color: cyan;
		display: flex;
  		justify-content: center;
  		align-items: center;
 		color: red;
 		font-size: 20px;

		}
		
		
.header{
		height: 150px;
		background-color: cyan;
		font-family: serif;
		font-size: 50px;
		color: blue;
  		display: flex;
  		justify-content: center;
  		align-items: center;
  		
  		}
    
	
	
	